* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif
}

header {
	height: 200px;
	background-color: purple;
	color: white;
}

footer {
	height: 150px;
	background-color: purple;
	color: white;
}

footer p {
	margin-left: 220px;
	margin-right: 220px;
	text-align: justify;
	font-size: small;
}

footer h2 {
	color: white;
	margin-left: 150px;
}

.centered {
	padding-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

header .subtitle {
}

h1 {
	color: white;
	text-transform: uppercase;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {
	margin-left: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 500px;
}

section article {
	margin-left: 50px;
}

h2 {
	color: purple;
}

h3 {
	color: purple;
}

p {

}

.details {
	color: purple;
}

.object {
	font-weight: Bold;
}

.object:after {
	content: " | ";
}

footer h2 {

}